<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Card-Board</title>
    <link type="text/css" rel="stylesheet" href="/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="/ng-sortable/dist/ng-sortable.min.css">
    <link rel="stylesheet" type="text/css" href="/ng-sortable/dist/ng-sortable.style.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker|Coming+Soon' rel='stylesheet' type='text/css'>
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/Chart.js/Chart.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="/angular-chart.js/dist/angular-chart.css" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="/font-roboto/roboto.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="/ng-sortable/dist/ng-sortable.js"></script>
    <script type="text/javascript" src="/ng-sortable/dist/ng-sortable.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/main.js"></script>
</head>
<main-content></main-content>
<body ng-app="FullstackGeneratedApp" style="overflow-x:scroll;">
<div>    
        <div ui-view ></div>

    <!-- <div id="chart_div"></div> -->
</div>

</body>
</html>