.profileDiv{
	width: 100%;
	padding: 30px;
}

#profile-pic {
		border-radius: 50%;
		margin-top: 25px;
		height: 250px;
		width: 250px;
		border: 2px solid #ff5252;
	}

#profile-card-toolbar {
	background-color: #ff5252;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
} 
#profile-repos-card-toolbar {
	background-color: #ff5252;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}
#profile-events-card-toolbar {
	background-color: #ff5252;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}
#profile-card, #profile-events-card, #profile-repos-card {
	background-color: #FFFFFF;

}