<preloader ng-show="spinner"></preloader>
<div class="container">
	<div class="row">
		<div id="other-cards-message" class="card-panel center" style="background-color: #424242">
          <span class="white-text">Issues currently not assigned to a feature on your board.
          </span>
        </div>
	</div>
</div>
<div id="other-cards" class="container" ng-hide="spinner">
<!--OPEN CARDS-->
	<div class="row">
		<div id="open-cards-title" class="col s12 z-depth-1"><h1>Open ({{ otherOpenCards.length }})</h1></div>
	</div>
	<div class="row">
		<div ng-repeat="card in otherOpenCards" ng-init="cardsIndex = $index">
			<div class="row center" ng-show="$index % 4 === 0" style="margin-left: 25px;"></div>
			<hr id="hr-open-cards" ng-show="$index % 4 === 0 && $index !== 0"/>
			<div class="col s3">
                <div class="card note center-cards" ng-hide="openCardFeatureAssigned[cardsIndex]">
                    <div class="card-content black-text">
	                    <div class="title">
	                        <h2 id="open-card-title">{{ card.title }}</h2>
	                    </div>
                    </div>
	                <div class="card-action">
	                    <div class='row'>
	                        <div class="cursor-pointer col md6 spaceBottom left">
	                            <a ng-click="toggleOpenCardFeatures($index)" class=".cursor-pointer">Assign </br> Feature</a>
	                        </div>

	                        <div class="cursor-pointer col md6 spaceBottom">
	                            <a ng-click="toggleOpenCardDetails($index)" class=".cursor-pointer">Details</a>
	                        </div>                  
	

                           	<div ng-show="showOpenCardFeatures[$index]"> 
	                           	<p id="assign-feature-heading">Below are the existing features on your board. To move this card to your board, select a feature.</p>
								<form name="open+{{cardsIndex}}" ng-submit="assignCardAFeature(card, cardsIndex)">	
									<p ng-repeat="feature in repoFeatures">
									  <input type="radio" id="open+{{cardsIndex}}+{{$index}}" value ="{{feature}}" ng-model="card.feature" />
									  <label for="open+{{cardsIndex}}+{{$index}}" id="assign-feature-label">{{ feature.title }}</label>
									</p>							
									<button class="waves-effect waves-light other-cards-submitBtn btn-flat" type="submit" name="action">Submit
									    <i class="mdi-content-send"></i>
									</button>
								</form>
							</div>                                              
                            <div ng-show="showOpenCardDetails[$index]" class="left-align card-details">
                                <p ng-show="card.body"><strong>details:</strong> {{card.body}}</p>
                                <p ng-show="!card.body"><strong>details:</strong> N/A</p>
                                <p><strong># of comments:</strong> {{card.comments}}</p>
                                <p><strong>creator:</strong> {{card.user.login}}</p>
                                <p ng-show="card.assignee"><strong>assignee:</strong> {{card.assignee.login}}</p>
                                <p ng-show="!card.assignee"><strong>assignee:</strong> N/A</p>
                                <p ng-show="card.labels.length === 0"><strong>labels:</strong> N/A</p>
                                <p ng-show="card.labels.length !== 0"><strong>labels:</strong> <span ng-repeat="label in card.labels">{{label.name}}</span></p>
                                <p><strong>last updated:</strong> {{card.updated_at | date: 'short'}}</p>
                                <p><strong>created:</strong> {{card.created_at | date: 'short'}}</p>
                            </div>
	                    </div>
	                </div> 
                </div>
                <div class="card-panel success-card" ng-show="openCardFeatureAssigned[cardsIndex]">
		          <span class="white-text">
		          	Success! Card <strong>"{{openCardTitle[cardsIndex]}}"</strong> added to <strong>{{openCardFeature[cardsIndex]}}</strong> feature on your board.
		          </span>
        		</div>
			</div>
		</div>
	</div>
<!--CLOSED CARDS-->
	<div class="row">
		<div id="closed-cards-title" class="col s12"><h1>Closed ({{ otherClosedCards.length }})</h1></div>
	</div>
	<div class="row">
		<div ng-repeat="card in otherClosedCards" ng-init="cardsIndex2 = $index">
			<div class="row" ng-show="$index % 4 === 0"></div>
			<hr id="hr-closed-cards" ng-show="$index % 4 === 0 && $index !== 0"/>
			<div class="col s3">
                <div class="card note center-cards" ng-hide="closedCardFeatureAssigned[cardsIndex2]">
                    <div class="card-content black-text">
	                    <div class="title">
	                        <h2 id="closed-card-title">{{ card.title }}</h2>
	                    </div>
                    </div>
	                <div class="card-action">
	                    <div class='row'>
	                        <div class="cursor-pointer spaceBottom col md6 left">
	                            <a ng-click="toggleClosedCardFeatures($index)" class=".cursor-pointer">Assign </br> Feature</a>
	                        </div>

	                        <div class="cursor-pointer spaceBottom col md6">
	                            <a ng-click="toggleClosedCardDetails($index)" class=".cursor-pointer">Details</a>
	                        </div>   

                           	<div ng-show="showClosedCardFeatures[$index]"> 
	                           <p id="assign-feature-heading">Below are the existing features on your board. To re-open this issue and move this card to your board, select a feature.</p>
								<form name="closed+{{cardsIndex2}}" ng-submit="assignCardAFeature(card, cardsIndex2)">
									<p ng-repeat="feature in repoFeatures">
									  <input type="radio" id="closed+{{cardsIndex2}}+{{$index}}" value ="{{ feature }}" ng-model="card.feature" />
									  <label for="closed+{{cardsIndex2}}+{{$index}}" id="assign-feature-label">{{ feature.title }}</label>
									</p>
									<button class="waves-effect waves-light other-cards-submitBtn btn-flat" type="submit" name="action">Submit
									    <i class="mdi-content-send"></i>
									</button>
								</form>	
							</div>                                              
                            <div ng-show="showClosedCardDetails[$index]" class="left-align card-details">
                                <p ng-show="card.body"><strong>details:</strong> {{card.body}}</p>
                                <p ng-show="!card.body"><strong>details:</strong> N/A</p>
                                <p><strong># of comments:</strong> {{card.comments}}</p>
                                <p><strong>creator:</strong> {{card.user.login}}</p>
                                <p ng-show="card.assignee"><strong>assignee:</strong> {{card.assignee.login}}</p>
                                <p ng-show="!card.assignee"><strong>assignee:</strong> N/A</p>
                                <p ng-show="card.labels.length === 0"><strong>labels:</strong> N/A</p>
                                <p ng-show="card.labels.length !== 0"><strong>labels:</strong> <span ng-repeat="label in card.labels">{{label.name}}</span></p>
                                <p><strong>last updated:</strong> {{card.updated_at | date: 'short'}}</p>
                                <p><strong>created:</strong> {{card.created_at | date: 'short'}}</p>
                            </div>
	                    </div>
	                </div>	                 
                </div>
                <div class="card-panel success-card" ng-show="closedCardFeatureAssigned[cardsIndex2]">
		          <span class="white-text">
		          	Success! Card <strong>"{{closedCardTitle[cardsIndex2]}}"</strong> added to <strong>{{closedCardFeature[cardsIndex2]}}</strong> feature on your board.
		          </span>
        		</div>                
			</div>
		</div>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63549121-1', 'auto');
  ga('send', 'pageview');

</script>

<style type="text/css">
	#other-cards-message {
		margin-top: 40px;
		margin-bottom: -15px;
		font-size: 20px;
		padding: 30px 100px;
		color: #212121;
	}
	#open-cards-title {
		margin-top: 40px;
		background: #5cb85c;
		color: white;
	}
	#closed-cards-title {
		margin-top: 40px;
		background: #ef5350;
		color: white;
	}
	#other-cards {
		margin: 0 auto;
		text-align: center;
	}
	#open-card-title {
		text-align: left;
		color: #212121;
	}
	#closed-card-title {
		text-align: center;
	}

	#hr-open-cards {
		border-color: #b2dfdb;
	}
	#hr-closed-cards {
		border-color: #ffcdd2;
	}
	#assign-feature-heading {
		font-size: 14px !important;
		color: #424242;
		margin-top: 10px;
		text-align: left;
	}
	#assign-feature-label {
		font-size: 14px !important;
		color: #424242;
	}
	.card-details {
		font-size: 14px !important;
		color: #424242;
		margin-top: 55px;
		padding: 10px;
	}
	.center-cards {
		margin-left: auto;
		margin-right: auto;
	}
	.other-cards-submitBtn {
		width: 100%;
		text-align: center;
		color: white;
		background-color: #26a69a;
	}
	.success-card {
		min-width: 220px;
		margin-left: 5px;
		background-color: #5cb85c;
		padding-top: 45px;
		min-height: 215px;
	}

</style>