<div id="other-cards" class="container">
	<div class="row">
		<div id="open-cards-title" class="col s12 z-depth-1"><h1>Open ({{ otherOpenCards.length }})</h1></div>
	</div>
	<div class="row">
		<div ng-repeat="card in otherOpenCards">
			<div class="row" ng-show="$index % 4 === 0"></div>
			<hr id="hr-open-cards" ng-show="$index % 4 === 0 && $index !== 0"/>
			<div class="col s3">
                <div class="card note other-cards-note z-depth-1">
                    <div class="card-content black-text center-align">
                            <div class="title">
                                <h2 id="open-card-title">{{ card.title }}</h2>
                            </div>
                            <p>{{ card.detail }}<p>  
                    </div>
	                <div class="card-action">
	                    <div>
	                        <span class="cursor-pointer">
	                            <a ng-click="toggleOpenCardFeatures($index)" class=".cursor-pointer">Assign Feature</a>
	                        </span>

	                        <span class="cursor-pointer">
	                            <a ng-click="toggleOpenCardDetails($index)" class=".cursor-pointer">Details</a>
	                        </span>                  
	                           <img src="{{ card.assignee_avatar }}" alt="" class="circle right" id="assignee-avatar" ng-show="card.assignee_avatar" />  
	                            
	                           	<div ng-show="showOpenCardFeatures[$index]"> 
		                           <p id="assign-feature-heading">Below are the existing features on your board. To move this card to your board, select a feature.</p>
									<form name="{{$index}}" ng-submit="assignCardAFeature(card)">
										<p ng-repeat="feature in repoFeatures">
										  <input type="radio" id="{{$index}}" value ="{{ feature }}" ng-model="card.feature" />
										  <label for="{{$index}}" id="assign-feature-label">{{ feature.title }}</label>
										</p>
										<input type="submit" value="Submit" />
									</form>	
								</div>                                              
	                            <div ng-show="showOpenCardDetails[$index]" class="black-text left-align">
	                                <p>Details: {{card.details}}</p>
	                                <p>Comments: {{card.comments}}</p>
	                                <p>Labels: <span ng-repeat="label in card.labels">{{label.name}} </span></p>
	                                <p>Assignee: {{card.assignee.login}}</p>
	                                <p>Created: {{card.created}}</p>
	                                <p>Updated: {{card.updated}}</p>
	                            </div>
	                    </div>

	                </div> 
                </div>
			</div>
		</div>
	</div>




	<div class="row">
		<div id="closed-cards-title" class="col s12 z-depth-1"><h1>Closed ({{ otherClosedCards.length }})</h1></div>
	</div>

	<div class="row">
		<div ng-repeat="card in otherClosedCards">
			<div class="row" ng-show="$index % 4 === 0"></div>
			<hr id="hr-closed-cards" ng-show="$index % 4 === 0 && $index !== 0"/>
			<div class="col s3">
                <div class="card note">
                    <div class="card-content black-text">
                            <div class="title">
                                <h2 id="closed-card-title">{{ card.title }}</h2>
                            </div>
                            <p>{{ card.detail }}<p>  
                    </div>
	                <div class="card-action">
	                    <div>
	                        <span class="cursor-pointer">
	                            <a ng-click="toggleClosedCardFeatures($index)" class=".cursor-pointer">Assign Feature</a>
	                        </span>

	                        <span class="cursor-pointer">
	                            <a ng-click="toggleClosedCardDetails($index)" class=".cursor-pointer">Details</a>
	                        </span>   
	                           <img src="{{ card.assignee_avatar }}" alt="" class="circle right" id="assignee-avatar" ng-show="card.assignee_avatar" />  

	                           	<div ng-show="showClosedCardFeatures[$index]"> 
		                           <p id="assign-feature-heading">Below are the existing features on your board. To re-open this issue and move this card to your board, select a feature.</p>
									<form name="assignFeature" ng-submit="assignCardAFeature(card)">
										<p ng-repeat="feature in repoFeatures">
										  <input type="radio" id="test + {{$index}}" value ="{{ feature }}" ng-model="card.feature" />
										  <label for="test + {{$index}}" id="assign-feature-label">{{ feature.title }}</label>
										</p>
										<input type="submit" value="Submit" />
									</form>	
								</div>                                              
	                            <div ng-show="showClosedCardDetails[$index]" class="black-text left-align">
	                                <p>Details: {{card.details}}</p>
	                                <p>Comments: {{card.comments}}</p>
	                                <p>Labels: <span ng-repeat="label in card.labels">{{label.name}} </span></p>
	                                <p>Assignee: {{card.assignee.login}}</p>
	                                <p>Created: {{card.created}}</p>
	                                <p>Updated: {{card.updated}}</p>
	                            </div>
	                    </div>
	                </div> 
                </div>
			</div>
		</div>
	</div>

</div>




<style type="text/css">
	#open-cards-title {
		margin-top: 40px;
		background: #4db6ac;
		color: white;
/*		padding-top: 20px;
		padding-bottom: 20px;*/
	}
	#closed-cards-title {
		margin-top: 40px;
		background: #e57373;
		color: white;
	}
	#other-cards {
		margin: 0 auto;
		text-align: center;
	}
	#open-card-title {
		text-align: center;
		color: #212121;
	}
	#closed-card-title {
		text-align: center;
	}
/*	.other-cards-note {
		min-width: 250px;
		min-height: 188px;
		max-height: 188px;

	}*/
/*	.card-content {
		margin: 0px;
	}*/
	#hr-open-cards {
		border-color: #b2dfdb;
	}
	#hr-closed-cards {
		border-color: #ffcdd2;
	}
	#assign-feature-heading {
		font-size: 16px !important;
		color: #424242;
		margin-top: 10px;
		text-align: left;
	}
	#assign-feature-label {
		font-size: 14px !important;
		color: #424242;
	}

</style>