<!-- <!-- <div id="chat-container" class="z-depth-1">
<ul id="chat-box" class="collapsible" data-collapsible="accordion">
	<li>
	<div class="collapsible-header center" style="height: 30px"><i id="chat-icon" class="mdi-communication-chat"></i><i id="status-dot" class="mdi-image-brightness-1"></i></div>
<!-- 		<span class="switch">
	    <label>
	      Off
	      <input type="checkbox">
	      <span class="lever"></span>
	      On
	    </label>
  	</span>  -->
 
	<!-- <div class="collapsible-body">
		<br>
		<div id="messages">
			<div ng-repeat="message in receivedMessages">
				<img id="chat-avatar" ng-src="{{avatar}}" />	
				{{message}}
			</div>
		</div>

		<form id="message-form" ng-submit="sendMessage(message)">
			<input id="input-message-box" type="text" placeholder="Send a message..." ng-model="message" />	
		</form>

	</div>
	</li>
</ul>
</div>

<style type="text/css">
	#status-dot {
		float: right;
		color: #558b2f;
		font-size: 1.2rem;
	}
	#chat-container {
		width: 250px;
		background-color: white;
		position: fixed;
		bottom: 0px;
		right: 0px;
		border-bottom: 2px solid red;
		border-radius: 5px 0 0 0;
	}
	#messages {
		height: 300px;
		padding-left: 10px;
		overflow: auto;
	}
	#chat-box {
		box-shadow: none;
		border: none;
	}
	#chat-icon {
		
	}
	#chat-avatar {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		margin-right: 10px;
		margin-bottom: 5px;
	}
	#message-form {
		bottom-margin: 0px;
	}
	#input-message-box {
		padding-left: 10px;
	}

</style>
<script type="text/javascript">
	$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script> -->