<div class="profileDiv" ng-controller='GitHubProfileController'>
	<div class="row">
		<div class="col s12 m4 fixedCard">
			<div class='card' id="profile-card">
				<div class='card-content'>
					<div class="text-center">
					<img src="{{ profile.avatar }}" id="profile-pic" />
					</div>
					<h3>Name:{{ profile.name }}</h3>
					<div><strong>GitHub Username:</strong> {{ profile.username }}</div>
					<div><strong>Email:</strong> {{ profile.email }}</div>
					<p ng-show="profile.company">Company:</strong> </p> {{ profile.company }}
					<div><strong>Location:</strong> {{ profile.location }}</div>
					<div><strong>GitHub Link:</strong> <a href="{{ profile.gitHubProfileLink }}">{{ profile.gitHubProfileLink }}</a></div>
					<div><strong># Public Repos:</strong> {{ profile.publicRepos }}</div>
				</div>
			</div>
		</div>
		<div class="col  s12 m4 floatRight">
			<div class='card' id="profile-repos-card">
				<div class='card-content'>
					<div class='card-title' id="profile-repos-card-toolbar">Repos</div>
					<div class='contentDiv' ng-repeat="profileRepo in profileRepos">
						<div><h3 class="cardTitle" ng-click="getAssignments(profileRepo.url, profile.username)" popover="Click to see assignments" popover-placement='top' popover-trigger='mouseenter'>{{ profileRepo.name }}</h3></div>
						<!-- <div><strong>Language:</strong> {{ profileRepo.language }}</div> -->
						<div><strong>Description:</strong> {{ profileRepo.description }}</div>
						<div><strong>Url:</strong> {{ profileRepo.url }}</div>
						<div><strong>Date Created:</strong> {{ profileRepo.created }}</div>
						<div><strong>Date Last Updated:</strong> {{ profileRepo.lastUpdated }}</div>
						<!-- <div><strong>Watchers:</strong> {{ profileRepo.watchers }}</div>
						<div><strong>Forks:</strong> {{ profileRepo.forks }}</div>	 -->
					</div>	
				</div>
			</div>
		</div>

		<div class="col s12 m4 floatRight">
			<div class='card' id="profile-events-card">
				<div class='card-content'>
					<div class='card-title' id="profile-events-card-toolbar">Assignments</div>
					<div class='contentDiv' ng-show="!assignments">
						<div><strong>Click on a repo to see assignments</strong></div>
					</div>
					<div class='contentDiv' ng-repeat="assignment in assignments">
						<div><strong>{{ assignment.title }}</strong></div>
						<div ng-show="assignment.body"><strong>Details:</strong> {{ assignment.body }}</div>
						<div ng-show="assignment.comments"><strong>Comments:</strong> {{ assignment.comments }}</div>
						<div ng-show="assignment.state"><strong>Status:</strong> {{ assignment.state }}</div>
						<div ng-show="assignment.created_at"><strong>Created:</strong> {{ assignment.created_at }}</div>
						<div ng-show="assignment.updated_at"><strong>Updated:</strong> {{ assignment.updated_at }}</div>
						<div ng-show="assignment.closed_at"><strong>Closed:</strong> {{ assignment.closed_at }}</div>
					</div>	
				</div>
			</div>
		</div>

	</div>
</div>