<div class="profileDiv" ng-controller='GitHubProfileController'>
	<div class="row">
		<div class="col s12 m4 fixedCard">
			<div class='card' id="profile-card">
				<div class='card-content'>
					<div class="text-center">
					<img src="{{ profile.avatar }}" id="profile-pic" />
					</div>
					<div style="padding: 20px">
						
						<div class='row' style='margin: 0 auto'>
							<div class='col m5 center'>	
								<h1 ng-show="profile.name">Name:{{ profile.name }}</h1>
								<h1>{{ profile.username }}</h1>
							</div>
							<div class='col m5'>
								<h3 ng-show="profile.email">{{ profile.email }}</h3>
								<h3><a href="{{ profile.gitHubProfileLink }}" style='color: #03a9f4'>{{ profile.gitHubProfileLink }}</a></h3>
								<h3><span style="font-size: 2rem; color: #03a9f4">{{ profile.publicRepos }}</span> Public Repos</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m4 floatRight">
			<div class='card' id="profile-events-card">
				<div class='card-content'>
					<div class='divTitle' id="profile-events-card-toolbar">Assignments</div>
					<div class='contentDiv'>
						<h2 class='center toBoard' ui-sref="board({owner: repoOwner, name: repoName})" popover="Go to board" popover-placement='top' popover-trigger='mouseenter'>{{repoName}}</h2>
					</div>
					<div class='contentDiv' ng-show="!assignments">
						<div class='center'><h2><i class='mdi-navigation-chevron-left'/> Click on a repo to see assignments</h2></div>
					</div>
					<div class='contentDiv' ng-repeat="assignment in assignments">
						<form>
							<h3>
								<input ng-hide='!assign' ng-show="assign" type='checkbox' id='{{assignment.title}}' ng-click='closeIssue(assignment) && updateStatus(assignment.state)'></input>
								<label class="blueLabel" for='{{assignment.title}}'>{{ assignment.title }}</label>
							</h3>
						</form>
						<div style='margin-left: 35px'>
							<div ng-show="assignment.body"><strong>Details:</strong> {{ assignment.body }}</div>
							<div ng-show="assignment.comments"><strong>Comments:</strong> {{ assignment.comments }}</div>
							<div ng-show="assignment.state"><strong>Status:</strong> {{ assignment.state }}</div>
							<div ng-show="assignment.created_at"><strong>Created:</strong> {{ assignment.created_at }}</div>
							<div ng-show="assignment.updated_at"><strong>Updated:</strong> {{ assignment.updated_at }}</div>
							<div ng-show="assignment.closed_at"><strong>Closed:</strong> {{ assignment.closed_at }}</div>	
						</div>
					</div>	
				</div>
			</div>
		</div>

		<div class="col  s12 m4 floatRight" style='padding-left: 15px'>
			<div class='card' id="profile-repos-card">
				<div class='card-content'>
					<div class='divTitle' id="profile-repos-card-toolbar">Repos</div>
					<div class='contentDiv' ng-repeat="profileRepo in profileRepos">
						<div>
							<h2 class="cardTitle ng-class:{'isCollapsed': collapse}" ng-click='isCollapsed=!isCollapsed'>
								<span ng-click="getAssignments(profileRepo, profile.username)">{{ profileRepo.name }}</span>
								<a ng-show="isCollapsed"><i class="mdi-hardware-keyboard-arrow-up right" ></i></a>
                    			<a ng-show="!isCollapsed"><i class="mdi-hardware-keyboard-arrow-down right"></i></a>
							</h2>
                    	</div>
						<div collapse='!isCollapsed'>
							<div><strong>Description:</strong> {{ profileRepo.description }}</div>
							<div><strong>Url:</strong> {{ profileRepo.url }}</div>
							<div><strong>Date Created:</strong> {{ profileRepo.created }}</div>
							<div><strong>Date Last Updated:</strong> {{ profileRepo.lastUpdated }}</div>
						</div>
					</div>	
				</div>
			</div>
		</div>

	</div>
</div>