#board { margin: 10px 5px; padding: 0 10px 0 10px;}
// #board table {
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
// }
#board {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#loader {
    position: absolute;
    top: 50%;
    right: 50%;
}
#assignee-avatar {
    position: relative;
    bottom: 10px;
    left: 10px;
/*        height: 20%;
*/        width: 20%;
/*          left: 100%;
*/    }
.as-sortable-item {
    border: 0px;
    margin: 0px;
    margin-bottom: -15px;
    background-color: transparent;
    border-radius: 0px;
}
.cursor-pointer {
    cursor: default;
}
.mdi-action-highlight-remove {
    font-size: 25px;
    top: -20px;
    right: -15px;
    color: #ffab40;
    position: relative;
}
.mdi-hardware-keyboard-arrow-up,
.mdi-hardware-keyboard-arrow-down {
    font-size: 25px;
    // top: -5px;
    // left: 5px;
    color: #ffab40;
    // position: absolute;
}


#featuresCard {
    margin-left: 15px;
    max-width: 250px;
}
.progressDiv{
    text-align: center;
    margin: 0 auto;
    height: 30px;
    width: 30%;
}

.progress{
    height: 25px !important;
    text-align: center;
    margin: 0 auto;
    border: 1px solid grey;
}

.progressbar{
    vertical-align: middle;
    line-height: 25px;
}

b{
    font-size: 20px;
    vertical-align: middle;
    line-height: 0;
}

.centerDiv{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ProgressContainer{
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.left{
    text-align: left;
    margin: 0 auto;
    vertical-align: middle;
}

.right{
    text-align: right;
    margin: 0 auto;
    vertical-align: middle;
}

.note{
    background-color: #ffff8d;
    max-width: 250px;
    text-align: center;
}

.card .card-action a {
    color: #03a9f4;
    &:hover{
        color: #337ab7;
        text-decoration: none;
    }
}

.mdi-action-highlight-remove {
    color: #03a9f4 !important;
    font-size: 30px !important;
}

a{
    color: #03a9f4;
    &:hover{
        color: #337ab7;
        text-decoration: none;
    }
}

.card .card-title{
    font-weight: 700;
}

.modal-content{
    padding: 30px;
}

.modal-dialog{
    width: 100%;
    margin: 0 auto;
}

label{
    font-size: 1.75rem;
}


input{
    font-size: 1.5rem !important;
}

.spaceRight {
    margin-right: 10px !important;
}

.btn-primary{
    background-color: #03a9f4;
    border-color: #03a9f4;
}

.spaceTop{
    margin-top: 20px;
}

.spaceBottom{
    margin-bottom: 25px;
}

.arrow{
    display: inline-block;
    vertical-align: middle;
}

.collapsableRow{
    padding: 0 !important;
    border: none !important;
}

th{
    max-width: 250px;
    padding: 0;
    max-width: 250px;
    border: none;
}

.addPhase{
    vertical-align: middle !important;
    text-align: center;
}

.addStory{
    vertical-align: middle !important;
}

.noMargin{
    margin: 0;
}

.addNewCard{
    display: inline-block;
    font-size: 15px;
}

.modalBtn{
    vertical-align: middle;
    top: 10px;
}

.control-label{
    margin-top: 25px;
}

.as-sortable-item-handle{
    width: 272px;
}

.note {
    h2{
        text-align: left;
        font-size: 1.3em;
    }
}

// .as-sortable-placeholder {
//     border: 1px dashed darkgrey;
//     box-sizing: border-box;
//     background-color: #dbdbdb;
//     width: 500px;
// }
