
  html,body {
    height: 100%;
    margin: 0;
    background-color: #efebe9;
    font-family: 'RobotoDraft', sans-serif;
  }

  // core-drawer-panel {
  //   margin-top: 20%;
  // }
  core-drawer-panel {

  }

  core-header-panel {
  height: 20%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 50px;
  }
  core-toolbar {
    background: #03a9f4;
    color: white;
  }
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
  }

  .container {
    width: 80%;
    margin: 50px auto;
  }

  #login-button {
    float: right;
  }

  @media (min-width: 481px) {
    #tabs {
      width: 200px;
    }
    .container {
      width: 400px;
    }
  }

  #drawer-content {
    background: #C0C0C0;
position: absolute;
    width: 100%;
    height: 100%;

  }

  #fab-add-btn{
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 100;
  }

  nav ul a {
    font-size: 1.5rem;
  }

  // #main-drawer {
  //   display: block;
  //   height: 100%;
  // }