<div ng-model="board" id="board">
	<h1>BOARD</h1>
	<md-card>
	<md-card-content class="paper-card">
<table id="boardTable" class="table table-bordered">
	<thead>
	<tr id="boardHeader">
		<th>Feature</th>
		<th>Task</th>
		<th>Owner</th>
		<th>In Progress</th>
		<th>Complete</th>
		<th>Due Date</th>
		<th>% Complete</th>
		<th># Open</th>
		<th># Closed</th>
	</tr>
	</thead>
	<tbody>
	
	<tr ng-repeat="feature in features">
		
		<th>
		<div class="story card sortable-item">
			<div class='row'><span class="card-title">{{feature.featureName}}</span></div>
		</div>
		</th>
		<td as-sortable="dragOptions" ng-repeat="task in feature.task" ng-model="feature.task">
			<div class='card'  as-sortable-item>
				<div as-sortable-item-handle>
				    <div class="row">
				        <div class="col-sm-10">
				            <span class="card-title">{{task.title}}</span>
				        </div>
				        <div class="col-sm-2">
				            <a data-no-drag class="removeCard pull-right btn btn-xs" ng-click="removeCard(column, card)">
				            	<span class="glyphicon glyphicon-remove"></span>
				            </a>
				        </div>
				    </div>
				</div>
			</div>
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td>{{feature.dueDate}}</td>
		<td># Open</td>
		<td># Closed</td>
	</tr>
	</tbody>
</table>
</md-card-content>
</md-card>
</div>