<!-- New Card template -->

<form class="noMargin" name="newFeatureForm" ng-controller="NewFeatureController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" ng-model="newFeature.title">Add New Feature</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="newFeatureTitle">Feature Title</label>
            <div ng-repeat="collaborator in collaborators">
            {{collaborator.login}}
            </div>
            <div>
                <input type="text" id="newFeatureTitle" placeholder="Feature title" ng-model="newFeature.title" required
                       focus-me class="cardInputs form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="newFeatureColor">Color<small>(optional)</small></label>

            <div>
                <input type="text" id="newFeatureColor" placeholder="HEX color without #" ng-model="newFeature.color"
                       focus-me class="cardInputs form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="newFeatureDueDate">Due Date<small>(optional)</small></label>
            <div>
                <input type="date" id="newFeatureDate" ng-model="newFeature.due_on"
                       focus-me class="cardInputs form-control"/>
            </div>
        </div>            
        <div class="form-group">
            <label class="control-label" for="newFeatureDetails">Description
                <small>(optional)</small>
            </label>

            <div>
                <textarea id="newFeatureDetails" ng-model="newFeature.description" class="cardInputs form-control" rows="7">
                </textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="ok(newFeature.title, newFeature)">Add</button>
    </div>
</form>