<div class="row">
<md-content>
	<div class="col-md-4">
		<md-card id="profile-card">
			<md-card-content>
				<h1>{{ repoInfo.data.name }}</h1>
				<div>Language: {{ repoInfo.data.language }}</div>				
				<div>Owner: {{ repoInfo.data.owner.login }}</div>
				<div>Url: {{ repoInfo.data.html_url }}</div>
				<div>Clone Url: {{ repoInfo.data.clone_url }}</div>
				<div>Homepage Url: {{ repoInfo.data.homepage }}</div>
				<div>Creation Date: {{ repoInfo.data.created_at | date:'medium' }}</div>
				<div>Last Updated Date: {{ repoInfo.data.updated_at | date:'medium' }}</div>				
				<div>Forks Count: {{ repoInfo.data.forks_count }}</div>
				<div>Watchers Count: {{ repoInfo.data.watchers_count }}</div>
				<div>Subscribers Count: {{ repoInfo.data.subscribers_count }}</div>
				<div>Description: {{ repoInfo.data.description }}</div>
			</md-card-content>
		</md-card>
	</div>

	<div class="col-md-4">
		<md-card id="profile-card">
			<md-card-content>
				<h1>Collaborators</h1>
				<div ng-repeat="collaborator in collaborators.data">
				<img src="{{ collaborator.avatar_url }}" id="profile-pic" />
				<div>Name: {{ collaborator.login }}</div>
				<div>GitHub Profile Link: <a href="{{ collaborator.html_url }}">{{ collaborator.html_url }}</a></div>
				</div>
			</md-card-content>
		</md-card>
	</div>

	<div class="col-md-7">
		<md-card id="profile-card">
			<md-card-content>
				<h1>Commits</h1>
 				<div ng-repeat="commit in commits.data">
				 	<div>Name: {{ commit.commit.author.name }}</div>
				 	<div>Date: {{ commit.commit.author.date | date:'medium' }}</div>
				 	<div>Message: {{ commit.commit.message }}</div>
 				</div>
			</md-card-content>
		</md-card>
	</div>
	<div class="col-md-7">
		<md-card id="profile-card">
			<md-card-content>
				<h1>Commits in Last Week</h1>
				<div>Saturday: {{ statsCommit.days[0]}} </div>
				<div>Sunday: {{ statsCommit.days[1]}} </div>
				<div>Monday: {{ statsCommit.days[2]}} </div>
				<div>Tuesday: {{ statsCommit.days[3]}} </div>
				<div>Wednesday: {{ statsCommit.days[4]}} </div>
				<div>Thursday: {{ statsCommit.days[5]}} </div>
				<div>Friday: {{ statsCommit.days[6]}} </div>
				<div>Toral: {{ statsCommit.total }} </div>


			<!-- 	 	<div>Name: {{ statsCommit.total }}</div>
				}
				} -->
		<!-- 		 	<div>Date: {{ commit.commit.author.date | date:'medium' }}</div>
				 	<div>Message: {{ commit.commit.message }}</div> -->
 				</div>
			</md-card-content>
		</md-card>
	</div>
				
	
</div>