{{ hello }}
<button ng-click="createIssue()">Click me</button>
<div class="row">
<md-content>
	<div class="col-md-8">
		<md-card id="profile-card">
		<core-toolbar id="profile-card1">{{ repoInfo.name }}</core-toolbar>
			<md-card-content class="paper-card">
				<div><strong>Language:</strong> {{ repoInfo.language }}</div>				
				<div><strong>Owner:</strong>  {{ repoInfo.owner.login }}</div>
				<div><strong>Url:</strong>  {{ repoInfo.html_url }}</div>
				<div><strong>Clone Url:</strong>  {{ repoInfo.clone_url }}</div>
				<div><strong>Homepage Url:</strong>  {{ repoInfo.homepage }}</div>
				<div><strong>Creation Date:</strong>  {{ repoInfo.created_at | date:'medium' }}</div>
				<div><strong>Last Updated Date:</strong>  {{ repoInfo.updated_at | date:'medium' }}</div>				
				<div><strong>Forks Count:</strong>  {{ repoInfo.forks_count }}</div>
				<div><strong>Watchers Count:</strong>  {{ repoInfo.watchers_count }}</div>
				<div><strong>Subscribers Count:</strong>  {{ repoInfo.subscribers_count }}</div>
				<div><strong>Description:</strong>  {{ repoInfo.description }}</div>
			</md-card-content>
		</md-card>
	</div>

	<div class="col-md-4 pull-right">
		<md-card id="profile-card">
		<core-toolbar id="profile-card2">Create Issue</core-toolbar>
			<md-card-content class="paper-card">
				<form name="createTheIssue" ng-submit="createIssue(issue)">
					<div class="form-group">
						<label for="issueTitle">Title</label>
						<input for="issueTitle" class="form-control" ng-model="issue.title" type="text" />
					</div>

					<div class="form-group">
						<label for="issueBody">Comment</label>
						<textarea for="issueBody" class="form-control" rows="5" ng-model="issue.body"></textarea>
					</div>

					<div class="form-group">
						<label for="issueLabels">Labels</label>
						<div for="issueLabels" ng-repeat="label in repoLabels" >
							<span style="background-color: #{{ label.color }}">{{ label.name }}:  </span>
							<input type="checkbox" value="{{ label.name }}" ng-model="issue.tempLabels[$index][label.name]" />		
						</div>
					</div>

					<div class="form-group">
						<label for="issueAssignee">Assignee</label>
						<select for="issueAssignee" ng-model="issue.assignee">
							<option ng-repeat="assignee in collaborators" value = "{{ assignee.login }}">{{ assignee.login }}</option>
						</select>
					</div>

					<div class="form-group">
						<label for="issueMilestones">Milestones</label>
						<select for="issueMilestones" ng-model="issue.milestone">
							<option ng-repeat="milestone in repoMilestones" value = "{{ milestone.number }}">{{ milestone.title }} {{ milestone.due_on }} {{ milestone.open_issues }} {{ milestone.closed_issues }}</option>
						</select>
					</div>
					<input type="submit" class="btn btn-success" value="Submit Issue" />
					</div>
				</form>
			</md-card-content>
		</md-card>
	</div>


	<div class="col-md-8">
		<md-card id="profile-card">
		<core-toolbar id="profile-card2">Issues</core-toolbar>
			<md-card-content class="paper-card">
				<form name="editTheIssue" >

				<div ng-repeat="issue in repoIssues">
				<!-- ISSUE AUTHOR -->				
				<div>Author: {{ issue.user.login }}</div>
				<!-- ISSUE TITLE -->
				<div>
					Title: <span ng-hide="issueEditor">{{ issue.title }}</span><input type="text" ng-show="issueEditor" ng-model="issue.title" />
				</div>
				<!-- ISSUE BODY -->
				<div>
					Body: <span ng-hide="issueEditor">{{ issue.body }}</span><input type="text" ng-show="issueEditor" ng-model="issue.body" />
				</div>
				<!-- ISSUE NUMBER -->
				<div>Temp {{ issue.tempLabels }}</div>

				<div>Number: {{ issue.number }}</div>
				<!-- ISSUE LABELS -->
				{{ hello }}
				<div ng-repeat="label in issue.labels">
					<div style="background-color: #{{ label.color }}" ng-hide="issueEditor">
						Label: {{ label.name }}
					</div>
				</div>
				<div ng-show="issueEditor" ng-repeat="repoLabel in repoLabels">
						<span style="background-color: #{{ repoLabel.color }}">{{ repoLabel.name }}:  </span>
						<input type="checkbox" ng-true-value="true" ng-checked="checkAssignedLabels(repoLabel.name, issue.labels)" ng-model="issue.tempLabels[$index][repoLabel.name]" />	
				</div>
				<!-- ISSUE STATE -->
				<div>
					State: <span ng-hide="issueEditor">{{ issue.state }}</span>
					<select ng-show="issueEditor" ng-model="issue.state">
						<option value="open">Open</option>
						<option value="closed">Closed</option>
					</select>
				</div>
				<!-- ISSUE ASSIGNEE -->
				<div>Assignee: <span ng-hide="issueEditor">{{ issue.assignee.login }}</span>			
					<select ng-show="issueEditor" ng-model="issue.assignee">
						<option ng-repeat="assignee in collaborators" value="{{ assignee.login }}">{{ assignee.login }}</option>
					</select>
				</div>


				<div>Assignee Avatar: {{ issue.assignee.avatar_url }}</div>

				<!-- ISSUE MILESTONE -->
				<div>Milestone: <span ng-hide="issueEditor">{{ issue.milestone.title }}</span>
					<select ng-show="issueEditor" ng-model="issue.milestone">
						<option ng-repeat="milestone in repoMilestones" value = "{{ milestone.number }}">{{ milestone.title }} {{ milestone.due_on }} {{ milestone.open_issues }} {{ milestone.closed_issues }}</option>
					</select>
				</div>

				<div>Milestone Open Issues: {{ issue.milestone.open_issues }}</div>
				<div>Milestone Closed Issues: {{ issue.milestone.closed_issues }}</div>
				<div>Milestone Due Date: {{ issue.milestone.due_on }}</div>
				<div>Number of Comments: {{ issue.comments }}</div>
				<button ng-hide="issueEditor" ng-click="issueEditor = !issueEditor">Edit Issue</button>
				<input type="submit" class="btn btn-success" value="Update Issue" ng-show="issueEditor" ng-click="editIssue(issue)" />
				<button ng-show="issueEditor" ng-click="issueEditor = !issueEditor">Cancel</button>
				<md-divider></md-divider>
				<br>
				</div>
				</form>
			</md-card-content>
		</md-card>
	</div>

	<div class="col-md-4">
		<md-card id="profile-card">
		<core-toolbar id="profile-card2">Create Label</core-toolbar>
			<md-card-content class="paper-card">
				<form name="createTheLabel" ng-submit="createLabel(label)">
					
					<div class="form-group">
						<label for="labelName">Name</label>
						<input for="labelName" class="form-control" ng-model="label.name" type="text" />
					</div>

					<div class="form-group">
						<label for="labelColor">Color</label>
						<input for="labelColor" placeholder="6 character hex code, without the #." class="form-control" ng-model="label.color" />
					</div>

					<div>
					<input type="submit" class="btn btn-success" value="Submit Label" />
					</div>

				</form>
			</md-card-content>
		</md-card>
	</div>

	<div class="col-md-4">
		<md-card id="profile-card">
		<core-toolbar id="profile-card2">Create A Milestone</core-toolbar>
			<md-card-content class="paper-card">
				<form name="createTheLabel" ng-submit="createLabel(label)">
					
					<div class="form-group">
						<label for="labelName">Name</label>
						<input for="labelName" class="form-control" ng-model="label.name" type="text" />
					</div>

					<div class="form-group">
						<label for="labelColor">Color</label>
						<input for="labelColor" placeholder="6 character hex code, without the #." class="form-control" ng-model="label.color" />
					</div>

					<div>
					<input type="submit" class="btn btn-success" value="Submit Label" />
					</div>
					
				</form>
			</md-card-content>
		</md-card>
	</div>


	<div class="col-md-4 pull-right">
		<md-card id="profile-card">
		<core-toolbar id="profile-card2">Collaborators</core-toolbar>
			<md-card-content class="paper-card">
				<div ng-repeat="collaborator in collaborators">
				<div class="text-center">
				<img src="{{ collaborator.avatar_url }}" class="pic" />
				</div>
				<div><strong>Name:</strong> {{ collaborator.login }}</div>
				<div><strong>GitHub Profile Link:</strong> <a href="{{ collaborator.html_url }}">{{ collaborator.html_url }}</a></div>
				<md-divider></md-divider>
				</div>
			</md-card-content>
		</md-card>
	</div>

	<div class="col-md-8">
		<md-card id="profile-card">
		<core-toolbar id="profile-card3">Commits</core-toolbar>
			<md-card-content class="paper-card">
 				<div ng-repeat="commit in commits">
				 	<div><strong>Name:</strong> {{ commit.commit.author.name }}</div>
				 	<div><strong>Date:</strong>  {{ commit.commit.author.date | date:'medium' }}</div>
				 	<div><strong>Message:</strong>  {{ commit.commit.message }}</div>
					<md-divider></md-divider>
 				</div>
			</md-card-content>
		</md-card>
	</div>
	<div class="col-md-4">
		<md-card id="profile-card">
		<core-toolbar id="profile-card4">Commits in Last Week</core-toolbar>
			<md-card-content class="paper-card">
				<div><strong>Saturday:</strong> {{ statsCommit.days[0]}} </div>
				<div><strong>Sunday:</strong> {{ statsCommit.days[1]}} </div>
				<div><strong>Monday:</strong> {{ statsCommit.days[2]}} </div>
				<div><strong>Tuesday:</strong> {{ statsCommit.days[3]}} </div>
				<div><strong>Wednesday:</strong> {{ statsCommit.days[4]}} </div>
				<div><strong>Thursday:</strong> {{ statsCommit.days[5]}} </div>
				<div><strong>Friday:</strong> {{ statsCommit.days[6]}} </div>
				<div><strong>Toral:</strong> {{ statsCommit.total }} </div>


			<!-- 	 	<div>Name: {{ statsCommit.total }}</div>
				}
				} -->
		<!-- 		 	<div>Date: {{ commit.commit.author.date | date:'medium' }}</div>
				 	<div>Message: {{ commit.commit.message }}</div> -->
 				</div>
			</md-card-content>
		</md-card>
	</div>
				
	
</div>

<style>
	.paper-card {
		background-color: #ffffff;
	}
	.pic {
		border-radius: 50%;
		margin-top: 25px;
		height: 250px;
		width: 250px;
	}
	md-divider {
		color: #CFD8DC;
	}
	#profile-card1 {
		background-color: #009688;
	}
		#profile-card2 {
		background-color: #9C27B0; 
	}
		#profile-card3 {
		background-color: #E91E63;
	}
		#profile-card4 {
		background-color: #FF9800;
	}

</style>