      <core-drawer-panel>

  <core-header-panel drawer id="drawer-content">
    <core-toolbar horizontal layout center center-justified>
      <div>Project Manager</div>
      </core-toolbar>
    <div >
<!-- 
 <core-selector selected="0">
  <div>Item 1</div>
  <div>Item 2</div>
  <div>Item 3</div>
</core-selector> -->

    <core-menu selected="0">
     <div id="account-btn"><a href="/auth/github/" target="_self"><core-icon icon="account-circle"></core-icon></a></div> 
    <div ng-controller="GitHubProfileController">
     <a ui-sref="github-profile"> <core-item icon="account-circle" label="{{ profile.name }}">



      </core-item></a>
    </div>
      <core-item icon="settings" label="Settings"></core-item>
      <core-item icon="dialog" label="Dialog"></core-item>
      <core-item icon="search" label="Search"></core-item>
        <core-submenu icon="settings" label="Topics">
        <core-item label="Topic 1"></core-item>
        <core-item label="Topic 2"></core-item>
      </core-submenu>

    <core-submenu icon="settings" label="Favorites">
      <core-item label="Favorite 1"></core-item>
      <core-item label="Favorite 2"></core-item>
      <core-item label="Favorite 3"></core-item>
    </core-submenu>
  </core-menu>
  </div>
  </core-header-panel>

    <core-header-panel main id="main-drawer">
   
    <core-toolbar horizontal layout>      
    <paper-tabs id="tabs" selected="all" self-end>
      <paper-tab name="all">All</paper-tab>
      <paper-tab name="favorites">Favorites</paper-tab>
      </paper-tabs>

     

 </core-toolbar>

    <div> Main content...
    <div ui-view></div>
     </div>
  </core-header-panel>


    </core-drawer-panel>

  



<div class="dropup" id="dropdown" ng-controller="RepoController">
  <!-- <button class="btn btn-default dropdown-toggle" type="button" > -->
         <paper-fab icon="add" id="trigger" role="button" aria-label="add" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true"></paper-fab>

  
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" id="repo-menu">
    <li role="presentation" ng-repeat="profileRepo in profileRepos"><a ui-sref="repo({name: profileRepo.name})" ng-click="update($index)" role="menuitem" tabindex="-1" >{{ profileRepo.name }} {{ $index }}</a></li>
  </ul>
</div>



<style>

  /* manually position the dropdown below the trigger */
 #dropdown, #trigger {
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 100;
    /*background-color: #ffffff;*/
  }

  #repo-menu {
    position: relative;
    bottom: 100px;
  }

</style>


  <!--CODE CONTINUES IN main.html-->

<!-- 
  <core-drawer-panel>
  <core-header-panel drawer>
    <core-toolbar>
      <div>Application</div>
    </core-toolbar>
    <div> Drawer content... </div>
  </core-header-panel>
  <core-header-panel main>
    <core-toolbar>
      <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
      <div>Title</div>
    </core-toolbar>
    <div> Main content... </div>
  </core-header-panel>
</core-drawer-panel> -->